<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"><h1><a href="#">Notes</a></h1></li>
    </ul>
	<section class="top-bar-section">
        <ul class="right">
            <li ng-show="loggedIn"><a>Username</a></li>
            <li class="divider"></li>
            <li class="has-form" ng-show="loggedIn"><a class="button alert round">logout</a></li>
            <li class="has-form" ng-show="!loggedIn"><a class="button alert round">login</a></li>
        </ul>
    </section>
</nav>