<div class="fixed">
  <top-bar>
    <ul class="title-area">
      <li class="name"><h1><a>Let's Combine</a></h1></li>
      <li toggle-top-bar class="menu-icon"><a href=""></a></li>
    </ul>
    <top-bar-section>
      <ul class="right">
        <li class="divider"></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </top-bar-section>
  </top-bar>
</div>
<section class="main row" ng-controller="MainCtrl">
  <div class="map small-12 large-8 large-push-4 columns">
    <google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
      <marker ng-if="mapClicked" coords="clickedLocation">
      </marker>
    </google-map>
  </div>
  <aside class="small-12 large-4 large-pull-8 columns bg-dark" style="padding-top: 20px;">
    <label>Select Year</label>
    <select ng-model="year" ng-change="changedDate()">
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
    </select>
    <label>Select Month</label><small>Values later than 2014-05 are not available yet.</small>
    <select ng-model="month" ng-change="changedDate()">
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <h4>Results</h4>
    <div ng-hide="cards">
      <h5>no Results</h5>
      Please choose a location in the UK to get some data!
    </div>
    <div ng-show="waiting">
      <div class="spinner"></div>
    </div>
    <div class="results panel" ng-repeat="card in cards">
      <div>
        <img src="img/{{card.target}}.svg" />
        {{card.source}}
      </div>
      <hr />
      {{card.text}}
    </div>
  </aside>
</section>