// bower:scss
// endbower


//vendor prefixes
@mixin vp($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}


@import "settings";
@import "foundation/functions";
@import "foundation";
@import "foundation-icons";




.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



//custom stuff
.editable {
  color: #537cb2;
  box-shadow: 0 0 5px black;
  border-radius: $global-radius;
}


.m-t-20 {
  margin-top: rem-calc(20);
}

.bg-dark {
  background-color: #ddd;
}





//custom styles
.row.main {
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  @media #{$medium-down} {
  overflow-y: auto;
    aside {
      min-height: 100%;
      width: 100%;
    }
    .map {
      height: 100%;
      width: 100%;
      padding: 0;
      .angular-google-map-container {
        height: 100%;
        width: 90%;
        margin: 0 5%;
        position: absolute;
      }
    }
  }
  @media #{$large-up} {
    overflow: hidden;
    aside,.map {
      position: relative;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .angular-google-map-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}


.results.panel {
  div {
    vertical-align: middle;
    font-size: 1.3rem;
    img {
      width: 20%;
      margin-right: 25px;
    }
  }
  hr {
    margin-bottom: 10px;
  }
}



.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}